
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

header {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 20px; 
}

h1 {
    margin: 0; 
    font-size: 2.5rem; 
}

main {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 20px; 
}

.member {
    background-color: white; 
    border-radius: 8px; 
    margin: 15px; 
    padding: 20px;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 200px; 
}

.member img {
    width: 200px;  
    height: 200px; 
    margin-bottom: 40px; 
    object-fit: cover; 
}

.member h2 {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}

.member p {
    font-size: 1rem; 
    color: #333
}


@media (max-width: 600px) {
    main {
        flex-direction: column; 
        align-items: center; 
    }

    .member {
        max-width: 90%; 
    }
}

